## 合併最終檔案

In [1]:
import pandas as pd

In [18]:
df_BTC=pd.read_csv('../FinBERT/Data_final/BTC-USD2.csv')
df_BTC.head()

,Unnamed: 0,Date,Open,High,Low,Close,Volume
0,0,2014/10/1,387.427002,391.378998,380.779999,383.614990,26229400.0
1,1,2014/10/2,383.988007,385.497009,372.946014,375.071991,21777700.0
2,2,2014/10/3,375.181000,377.695007,357.859009,359.511993,30901200.0
3,3,2014/10/4,359.891998,364.487000,325.885986,328.865997,47236500.0
4,4,2014/10/5,328.915985,341.800995,289.295990,320.510010,83308096.0

In [22]:
df_Score=pd.read_csv('../FinBERT/Data_final/CionScore_final.csv')
df_Score.head()

   Unnamed: 0  CionScore    CoinDate
0           0  -0.224409  2014-10-01
1           1   0.162439  2014-10-02
2           2  -0.136249  2014-10-03
3           3  -0.136249  2014-10-04
4           4  -0.136249  2014-10-05

In [26]:
import pandas as pd
from glob import glob
 
files =['../FinBERT/Data_final/BTC-USD2.csv','../FinBERT/Data_final/CionScore_final.csv']
 
df = pd.concat((pd.read_csv(file, dtype={'Unnamed: 0': int}) for file in files), axis='columns')
df=df.drop(["Unnamed: 0","Date"], axis = 1)
df.to_csv('../FinBERT/Data_final/BTC_final.csv')
df.shape

(3073, 7)